﻿@using TechBlogApp.Domain.Models
@model (Article, List<Comment>)


@{
    ViewData["Title"] = "Article Details";
}

<div>
    <div style="border:none;" class="card mb-4">

        <div style="background:white;text-align:center;" class="card-header">
            <h1 style="margin-bottom: 1.25rem;
    font-family: inter tight,sans-serif;
    font-size: 2.625rem;
    line-height: 1.1904761905em;
    font-weight: 800;
    color: black;
    text-align: center;">
                @Model.Item1.Title
            </h1>
        </div>

        <div class="card-body">
            <img style="height:100%;width:100%;object-fit:cover;" src="~/images/@Model.Item1.ImagePath" />
            <br /> <br />
            @Html.Raw(Model.Item1.Content)
        </div>

        <div class="card-footer">
            @Html.ActionLink("Edit", "CreatorPage", new {Id = Model.Item1.ArticleId}, new {@class="btn btn-sm btn-secondary"})
            <button onclick="deleteArticle('@Model.Item1.ArticleId')" class="btn btn-outline-danger">Delete</button>

      </div>

        <div style="margin-top:3%;" class="custombox clearfix">
            <h4 class="small-title">@Model.Item2.Capacity Comments</h4>
            <div class="row">
                <div class="col-lg-12">
                    <div class="comments-list">
                        @foreach (var comment in Model.Item2)
                        {
                            <div class="media">
                                <a class="media-left" href="#">
                                    <img src="upload/author.jpg" alt="" class="rounded-circle">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading user_name">AuthorName <small>3 MIN AGO</small></h4>
                                    <p>@comment.Content</p>
                                    <a href="#" class="btn btn-primary btn-sm">Reply</a>
                                </div>
                            </div>
                        }
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end custom-box -->





        <hr class="invis1">

        <div class="custombox clearfix">
            <h4 class="small-title">Leave a Reply</h4>
            <div class="row">
                <div class="col-lg-12">
                    <form asp-controller="Article" asp-action="AddComment" method="post" class="form-wrapper">
                        <input type="hidden" name="ArticleId" value="@Model.Item1.ArticleId" />
                        <textarea class="form-control" name="Content" placeholder="Your comment"></textarea>
                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>

        $(document).ready(function () {

            $('#data-container-details').on('click', '.btn-outline-danger', function () {
                // alert("Do you want to delete Article ?");
                var articleId = $(this).data('article-id');
                console.log(articleId);
                deleteArticle(articleId);
            });
            ;

        });
        function deleteArticle(id) {
            $.ajax({
                url: `http://localhost:5186/api/Article/${id}`, // Replace with your API endpoint URL
                type: 'DELETE',
                success: function (data) {
                    window.location.assign("http://localhost:5075/");
                },
                error: function () {
                    $('#data-container').text('Error loading data.');
                }
            });
        }
    </script>
</div>